body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grid-container{
    display: flex;
    height: 400px;
    width: 400px;
    border-style: solid;
    border-width: thin;
    flex-flow: row wrap;
}

.cell{
    background-color: lightgray;
}

.active{
    background-color: blue;
}