@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Open+Sans:ital@0;1&family=Rubik:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;1,200;1,600&display=swap');

/*
Fonts

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5b994;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
    color: orangered;
    font-weight: bold;
    background-color: #80beaf;

}

/* Title */
h2{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

/* Control Section */
#controls-container{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    background-color: #F0F0F0;
    height: 250px;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ee9c6c;
    border-radius: 3px;
}

/* Clear Button */
.clear-grid{
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Square Slider */
#manageSize{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    font-family: 'Open Sans', sans-serif;

}


#manageSize > h4 {
    margin-bottom: 5px;
    margin-top: 0px;
}

/* Grid */
#grid_container{
    display: grid;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: thick;
    border-radius: 5px;
    border-color: dimgrey;
}

.cell{
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: white;
}

/* Color Section */
#colors{
    display: flex;
    font-family: 'Rubik', sans-serif;
    flex: 1;
    flex-flow: row wrap;
    background-color: #F0F0F0;
    height: 250px;
    width: 600px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;

    background-color: #ee9c6c;
}

#rainbow{
    padding: 5px 10px;
    border-radius: 5px;
    
}

button:hover{
    border-color: white;
}

#color_slider{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
}

#color_slider > h4{
    margin-bottom: 5px;
    margin-top: 0px;
}
/* Footer */