body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}


#grid-container{
    display: flex;
    flex-flow: row wrap;
    height: 1024px;
    width: 1024px;
    border-style: solid;
    border-width: thin;
}

.cell{
    border-color: 'light-grey';
}
